{% extends "base.html" %}

{% block content %}
    {% for post in posts %}
    <div class="card-panel hoverable">
      <p class="flow-text"><a href="{{ url_for('posts.detail', slug=post.slug) }}">{{ post.title }}</a></p>
      <p>{{ post.body|truncate(100) }}</p>
      <p>
        {{ post.created_at.strftime('%H:%M %d-%m-%Y') }} |
        {% with total=post.comments|length %}
            {{ total }} comentários {%- if total > 1 %}s{%- endif -%}
        {% endwith %}
      </p>

      {% if post.body %}
        {% if post.post_type == 'Quote' %}
          <blockquote>{{ post.body|truncate(100) }}</blockquote>
            <p>{{ post.author }}</p>
        {% else %}
          <p>{{ post.body|truncate(100) }}</p>
        {% endif %}
        {% endif %}
          {% if post.embed_code %}
            {{ post.embed_code|safe() }}
          {% endif %}
        {% if post.image_url %}
          	<p><img class="circle img-responsive" src="{{ post.image_url }}" /><p>
      {% endif %}
  </div>
    {% endfor %}
{% endblock %}
